/*.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}*/

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
