body {
  font-family: 'Quicksand', sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 140px;
  height: 40px;
  padding: 4px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

input[type="submit"] {
    background-color: #5d615d
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

input[type="submit"]  {
    background-color: white;
    color: black;
    border: 2px solid #5d615d;
}

input[type="submit"]:hover {
    background-color: #5d615d;
    color: white;
}
